{% extends "store/base.html" %}
{% block title %}Clothing{% endblock %}
{% block content %}
<h2>Make Clothing Transaction</h2>

<h4>
{%if clothingtype %}
You are about to vend a {{clothingtype}} of size {{clothingsize}}.  Complete the purchase if this is your intention.
{%endif%}
</h4>


<form action="{% url 'store:clothing' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input name='preview' type='submit' value = "Preview Purchase"/>
    <br />
    <br />
    
    <input name='submit' type='submit' value = "Complete Purchase - Preview First!"/>
</form>
<br />
{%endblock%}
