
{% extends "store/base.html" %}
{%block title%}Statistics{%endblock%}
{% block content %}
<form action="{% url 'store:transactions' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

<br />
<br />
<table border="1" style="width:80%" id="hor-minimalist-a">
    <thead>
        <tr>
            <th scope="col">Item Sold</th>
            <th scope="col">Size</th>
            <th scope="col">Date</th>        
            <th scope="col">Vendor</th>
            <th scope="col">$$</th>
        </tr>
    </thead>
    
    {% for row in transactions_table %}
    <tr>
        {%for cell in row %}
        <td>{{cell}}</td>
        {%endfor%}
    </tr>    
    {%endfor%}
    
</table>
<br />
<br />
<table border="1" style="width:80%" id="hor-minimalist-a">
    <thead>
        <tr>
            <th scope="col">Clothing Type</th>
            <th scope="col">S</th>
            <th scope="col">M</th>        
            <th scope="col">L</th>
            <th scope="col">XL</th>
            <th scope="col">Total Items Sold</th>
            <th scope="col">Monetary Gains</th>
        </tr>
    </thead>
    
    {% for row in clothing_table %}
    <tr>
        {%for cell in row %}
        <td>{{cell}}</td>
        {%endfor%}
    </tr>    
    {%endfor%}
    
</table>
<br />
<br />
<table border="1" style="width:80%" id="hor-minimalist-a">
    <thead>
        <tr>
            <th scope="col">Accessory Type</th>
            <th scope="col">Item Sales</th>
            <th scope="col">Monetary Gains</th>
        </tr>
    </thead>
    
    {% for row in accessories_table %}
    <tr>
        {%for cell in row %}
        <td>{{cell}}</td>
        {%endfor%}
    </tr>    
    {%endfor%}
    
</table>

<br />
Total Items Sold: {{total_sales}}
<br />
Total Monetary Gains: {{total_bank}}
<br />
{%endblock%}
